@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Roboto', sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 67.7%;
  margin: 0 auto;
}

.header {
  background-color: #000000;
  padding: 20px 0;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

.header__row img {
  width: 147px;
  height: 20px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list a {
  font-size: 12px;
  line-height: 12.14px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: none;
}

.header__list a:hover {
  text-shadow: 1px 1px #ffffff;
}

.header__list li:not(:last-child) {
  margin-right: 34px;
}

.first-frame {
  padding-top: 100px;
  background-color: #000000;
}

.first-frame img {
  display: block;
  width: 600px;
  height: 500px;
  margin: 0 auto;
}

.first-frame__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-frame__text p:first-child {
  position: relative;
  top: -460px;
  left: 120px;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2px;
  color: #999999;
  font-weight: none;
}

.first-frame__text p:nth-child(2), .first-frame__text p:last-child {
  font-size: 100px;
  line-height: 125px;
  letter-spacing: 0em;
  color: #ffffff;
  font-weight: none;
}

.first-frame__text p:nth-child(2) {
  position: relative;
  top: -400px;
  left: 70px;
}

.first-frame__text p:last-child {
  position: relative;
  top: -300px;
  left: -100px;
}

.first-frame__bottom-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-frame .text_l {
  font-size: 19px;
  line-height: 27px;
  letter-spacing: 0em;
  color: #ffffff;
  font-weight: none;
}

.first-frame .text_r p:first-child {
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0em;
  color: #ffffff;
  font-weight: none;
}

.first-frame .text_r p:last-child {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0em;
  color: #ffffff66;
  font-weight: none;
}
