@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: 'Roboto', sans-serif;
}

.first-frame {
  background-color: #000000;
  height: 880px;
  margin: 0px auto;
}

.first-frame__wrapper {
  width: 1296px;
  height: 880px;
  margin: 0px auto;
}

.first-frame__head {
  width: 1296px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-frame__logo {
  margin-top: 40px;
  margin-left: 50px;
}

.first-frame__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  width: 333px;
  margin-top: 40px;
  margin-right: 50px;
}

.first-frame__listitems {
  font-size: 12px;
  line-height: 12.14px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: none;
}

.first-frame__listitems:hover {
  text-shadow: 1px 1px #ffffff;
}

.first-frame__main {
  background: url(../img/first-frame/bluetriangle.png) 40%/500px no-repeat, url(../img/first-frame/redtriangle.png) 50%/500px no-repeat;
  width: 1000px;
  height: 700px;
  margin: 0px auto;
}

.first-frame__pretitle {
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2px;
  color: #999999;
  font-weight: none;
  text-align: left;
  margin-left: 30px;
  padding-top: 200px;
}

.first-frame__title {
  font-size: 114px;
  line-height: 125px;
  letter-spacing: 0em;
  color: #ffffff;
  font-weight: none;
  text-align: left;
}

.first-frame__sectitle {
  font-size: 114px;
  line-height: 125px;
  letter-spacing: 0em;
  color: #ffffff;
  font-weight: none;
  text-align: right;
  margin-right: 110px;
}

.first-frame__foot {
  width: 1050px;
  height: 54px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-frame__textleft {
  font-size: 19px;
  line-height: 27px;
  letter-spacing: 0em;
  color: #ffffff;
  font-weight: none;
  text-align: left;
}

.first-frame__textrighttop {
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0em;
  color: #ffffff;
  font-weight: none;
  text-align: left;
  margin-bottom: 5px;
}

.first-frame__textrightbottom {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0em;
  color: #ffffff66;
  font-weight: none;
  text-align: right;
}

.second-frame {
  width: 1400px;
  height: 820px;
  margin: 0px auto;
}

.second-frame__wrapper {
  width: 1296px;
  height: 820px;
  margin: 86.39px auto 0 auto;
}

.second-frame__smalltitle {
  padding-left: 15px;
}

.smtitle {
  font-size: 10px;
  line-height: 34px;
  letter-spacing: 0.4399999976158142px;
  text-align: left;
  color: #e8244f;
}

.list {
  height: 530.6px;
  margin: 64.2px auto 0 auto;
}

.list__listitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  height: 113px;
  margin-bottom: 26.2px;
}

.list__title {
  font-size: 46px;
  line-height: 55px;
  width: 380px;
}

.list__subtitle {
  font-size: 16px;
  line-height: 21px;
  width: 350px;
  position: relative;
  left: 283px;
}

.list__imgarrow {
  position: relative;
  left: 500px;
}

.three-frame {
  width: 1440px;
  height: 1600px;
  margin: 0px auto;
}

.three-frame__wrapper {
  width: 1296px;
  height: 1532.5px;
  margin: 0px auto;
}

.three-frame__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}

.three-frame__row:nth-child(1) {
  font-size: 114px;
  line-height: 122px;
  letter-spacing: none;
  color: none;
  font-weight: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 10px;
}

.three-frame__row:nth-child(2) {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: none;
  color: none;
  font-weight: none;
  margin-left: 15px;
}

.three-frame__row:nth-child(4) {
  font-size: 17px;
  line-height: 23px;
  letter-spacing: none;
  color: none;
  font-weight: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.three-frame__row:nth-child(4) div {
  margin-left: 7%;
}

.four-frame {
  width: 1440px;
  height: 500px;
  margin: 0px auto;
}

.four-frame__wrapper {
  width: 1296px;
  height: 301.08px;
  margin: 0px auto;
}

.four-frame__smalltitle {
  margin-left: 15px;
  margin-top: 70px;
}

.four-frame__imgblock {
  margin-top: 100px;
}

.four-frame__imgblock img {
  margin-bottom: 50px;
}

.five-frame {
  height: 844px;
  margin: 0px auto;
  background-color: #000000;
  overflow: hidden;
}

.five-frame__wrapper {
  width: 1620px;
  height: 595px;
  margin: 0px auto;
}

.five-frame__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 145px;
  margin-left: 72px;
}

.five-frame__listitems {
  color: #ffffff;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 5px;
}

.five-frame__listitems:hover {
  color: #e8244f;
}

.five-frame__textrightside {
  margin-left: 233.5px;
}

.five-frame__title {
  font-size: 58px;
  line-height: 70px;
  text-align: left;
  color: #ffffff;
  padding-bottom: 50px;
}

.five-frame__subtitle {
  font-size: 20px;
  line-height: 26px;
  text-align: left;
  color: #ffffff;
}

.five-frame__text {
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  color: #ffffff;
}

.five-frame__text::after {
  content: '___________________';
  position: relative;
  left: -136px;
  top: 15px;
  color: #fff;
}

.five-frame__bottom {
  margin-left: 72px;
  margin-top: 150px;
}

.five-frame__content {
  font-size: 114px;
  line-height: 148px;
  text-align: left;
  color: #181818;
}

.five-frame__agile {
  color: #e8244f;
}

.agile {
  color: #e8244f;
}

.six-frame {
  width: 1440px;
  height: 1298px;
  margin: 0px auto;
}

.six-frame__wrapper {
  width: 1296px;
  height: 1126.36px;
  margin: 122.31px auto 0 auto;
}

.six-frame__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

.six-frame__textfirstrow {
  width: 915px;
  height: 235px;
}

.six-frame__title {
  font-size: 114px;
  line-height: 122px;
  letter-spacing: none;
  color: none;
  font-weight: none;
  margin-bottom: 37px;
}

.six-frame__subtitle {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: none;
  color: none;
  font-weight: none;
  margin-left: 5px;
  margin-right: 150px;
  white-space: nowrap;
}

.seven-frame {
  width: 1440px;
  height: 550px;
  margin: 0px auto;
  overflow: hidden;
  white-space: nowrap;
  font-size: 114px;
  line-height: 114px;
  letter-spacing: none;
  color: #888888;
  font-weight: none;
}

.seven-frame__textfirstrow {
  margin-left: -190px;
  margin-bottom: 50px;
}

.seven-frame__textsecondrow {
  margin-left: -360px;
  margin-bottom: 50px;
}

.seven-frame__textthreerow {
  margin-left: -250px;
}

.seven-frame__element {
  padding-right: 60px;
}

.seven-frame__black {
  color: #000000;
}

.eighth-frame {
  width: 1440px;
  height: 1100px;
  margin: 0px auto;
}

.eighth-frame__wrapper {
  width: 1266px;
  height: 1080.55px;
  margin: 60px auto 0 auto;
}

.eighth-frame__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.eighth-frame__title {
  font-size: 46px;
  margin: 100px 0 65px 0;
}

.eighth-frame__subtitle {
  font-size: 20px;
  line-height: 25px;
  margin: 50px 0 30px 0;
}

.eighth-frame__signature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.eighth-frame__signname {
  font-size: 16px;
  line-height: 21px;
}

.nine-frame {
  height: 890px;
  margin: 100px auto;
  background-color: #000000;
}

.nine-frame__wrapper {
  width: 100%;
  height: 750px;
  display: inline-block;
  margin: 100px auto 60px auto;
  padding: 0 300px;
}

.nine-frame__text {
  font-size: 10px;
  line-height: 34px;
  letter-spacing: 0.4399999976158142px;
  color: #ffffff;
  margin-bottom: 64.27px;
}

.nine-frame__email {
  font-size: 65px;
  line-height: 98px;
  color: #ffffff;
}

.nine-frame__tel {
  font-size: 65px;
  line-height: 98px;
  color: #ffffff;
  margin-bottom: 143.73px;
}

.nine-frame a {
  color: #ffffff;
}

.nine-frame__contentfot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

.nine-frame__contenttext {
  font-size: 20px;
  line-height: 33px;
  color: #ffffff;
  margin-bottom: 230px;
}

.nine-frame__contentimg a:nth-child(1) {
  margin-right: 43px;
}

.nine-frame__fotbottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.4);
}

.nine-frame__fotbottom a {
  color: rgba(255, 255, 255, 0.4);
}

.ten-frame {
  width: 1440px;
  height: 147px;
  margin: 0px auto;
  text-align: center;
}

.ten-frame a {
  font-size: 46px;
  line-height: 59px;
  color: #000000;
}

.ten-frame a:hover {
  text-decoration: underline;
  text-shadow: 1px 1px #888888;
}
