@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Roboto', sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 68%;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .container {
    max-width: 78%;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 88%;
  }
}

.header {
  background-color: #000000;
  padding: 20px 0;
  min-height: 5.7vh;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__row img {
  width: 11%;
}

@media (max-width: 767px) {
  .header__row img {
    width: 20%;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list a {
  padding: 0 15px;
  font-size: 12px;
  line-height: 12.14px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: none;
}

.header__list a:hover {
  text-shadow: 1px 1px #ffffff;
}

.header__list li:not(:last-child) {
  margin-right: 34px;
}

@media (max-width: 767px) {
  .header__list {
    display: none;
  }
}

.header .burger {
  display: none;
  width: 112px;
  padding-left: 3px;
  padding-top: 3px;
}

@media (max-width: 767px) {
  .header .burger {
    display: inline-block;
    position: absolute;
    width: 150px;
    top: 1px;
    right: 15px;
    margin-top: 11px;
    z-index: 150;
  }
}

.header .burger__first-line, .header .burger__second-line, .header .burger__threeth-line {
  width: 27%;
  margin: 0 0 0 auto;
  height: 1px;
  border: 0.5px solid #fff;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .burger__first-line:not(:last-child), .header .burger__second-line:not(:last-child), .header .burger__threeth-line:not(:last-child) {
  margin-bottom: 7px;
}

.header .burger:hover .burger__first-line {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: relative;
  top: 8.5px;
  border: 1px solid #fff;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .burger:hover .burger__second-line {
  visibility: hidden;
  -webkit-transition: 0.1ms;
  transition: 0.1ms;
}

.header .burger:hover .burger__threeth-line {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: relative;
  top: -8.5px;
  border: 1px solid #fff;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .burger:hover .burger__menu {
  visibility: visible;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  position: absolute;
  right: 45px;
  opacity: 0.7;
}

.header .burger__menu {
  visibility: hidden;
  position: absolute;
  top: -5px;
  right: -150px;
  opacity: 0;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.header .burger__list {
  background-color: #fff;
  border-radius: 15%;
  text-align: center;
}

.header .burger__link {
  font-size: none;
  line-height: 14px;
  letter-spacing: 0.1em;
  color: none;
  font-weight: 700;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
}

.header .burger__link:last-child {
  padding-bottom: 10px;
}

.header .burger__link a {
  color: #353738;
}

.header .burger__link a:hover {
  color: #1340c5;
  text-decoration: underline;
}

.first-frame {
  background-color: #000000;
  min-height: 94.3vh;
}

.first-frame img {
  display: block;
  width: 40%;
  margin: 0 auto;
  padding-top: 20%;
}

@media (max-width: 1280px) {
  .first-frame img {
    width: 45%;
  }
}

@media (max-width: 1024px) {
  .first-frame img {
    width: 50%;
  }
}

@media (max-width: 640px) {
  .first-frame img {
    padding-top: 30%;
  }
}

@media (max-width: 480px) {
  .first-frame img {
    padding-top: 40%;
  }
}

@media (max-height: 640px) {
  .first-frame img {
    padding-top: 20%;
  }
}

@media (max-height: 600px) {
  .first-frame img {
    padding-top: 10%;
  }
}

@media (max-height: 480px) {
  .first-frame img {
    padding-top: 7.5%;
    width: 30%;
  }
}

@media (max-height: 360px) {
  .first-frame img {
    padding-top: 5%;
    width: 25%;
  }
}

.first-frame__text {
  white-space: nowrap;
  width: 70%;
  margin: -30% auto 0 auto;
}

@media (max-width: 1280px) {
  .first-frame__text {
    margin-top: -31%;
  }
}

@media (max-width: 1024px) {
  .first-frame__text {
    margin-top: -32%;
  }
}

@media (max-width: 767px) {
  .first-frame__text {
    margin-top: -33%;
  }
}

@media (max-height: 480px) {
  .first-frame__text {
    margin-top: -20%;
  }
}

.first-frame__text p:first-child {
  padding-left: 5%;
  font-size: clamp(5px, 2vw, 11px);
  line-height: clamp(10px, 2vw, 15px);
  letter-spacing: 0.2px;
  color: #999999;
  font-weight: none;
}

.first-frame__text p:nth-child(2), .first-frame__text p:last-child {
  font-size: clamp(35px, 5vw, 100px);
  line-height: clamp(40px, 5vw, 125px);
  letter-spacing: none;
  color: #ffffff;
  font-weight: none;
}

.first-frame__text p:last-child {
  text-align: right;
}

.first-frame__bottom-text {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 3%;
  width: 68%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .first-frame__bottom-text {
    bottom: 5%;
  }
}

@media (max-width: 1280px) {
  .first-frame__bottom-text {
    width: 78%;
  }
}

@media (max-width: 1024px) {
  .first-frame__bottom-text {
    width: 88%;
  }
}

@media (max-width: 767px) {
  .first-frame__bottom-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.first-frame .text_l {
  font-size: clamp(12px, 2vw, 19px);
  line-height: clamp(20px, 2vw, 27px);
  letter-spacing: none;
  color: #ffffff;
  font-weight: none;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .first-frame .text_l {
    padding-right: 0;
  }
}

.first-frame .text_r {
  padding-left: 15px;
}

@media (max-width: 767px) {
  .first-frame .text_r {
    padding-top: 30px;
    padding-left: 0;
  }
}

.first-frame .text_r p:first-child {
  font-size: clamp(13px, 2vw, 20px);
  line-height: 22px;
  letter-spacing: none;
  color: #ffffff;
  font-weight: none;
}

.first-frame .text_r p:last-child {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: none;
  color: #ffffff66;
  font-weight: none;
}

.second-frame p {
  padding-top: 80px;
  font-size: 10px;
  line-height: 34px;
  letter-spacing: 0.44px;
  color: #e8244f;
  font-weight: none;
}

.second-frame__columns {
  margin-top: 20px;
}

.second-frame__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-frame__row:not(:last-child) {
  margin-bottom: 60px;
}

.second-frame__row:last-child {
  margin-bottom: 80px;
}

.second-frame__row a {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.second-frame__row a:hover {
  -webkit-transform: rotate(360deg) scale(1.3, 1.3);
          transform: rotate(360deg) scale(1.3, 1.3);
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.second-frame__row img {
  widows: 43px;
  height: 43px;
}

.title {
  width: 380px;
  font-size: 46px;
  line-height: 55px;
  letter-spacing: none;
  color: none;
  font-weight: none;
}

.subtitle {
  justify-self: flex-start;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: none;
  color: none;
  font-weight: none;
  margin: 0 auto 0 230px;
}

.threeth-frame__columns {
  margin-top: 163px;
}

.threeth-frame__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.threeth-frame__row:not(:last-child) {
  margin-bottom: 45px;
}

.threeth-frame__row img {
  width: 23.2%;
  margin-left: 2.4%;
}

.threeth-frame__row:first-child {
  font-size: 114px;
  line-height: 122px;
  letter-spacing: none;
  color: none;
  font-weight: none;
}

.threeth-frame__row:nth-child(2) {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: none;
  color: none;
  font-weight: none;
}

.threeth-frame__row:nth-child(3) img:first-child {
  margin-left: auto;
}

.threeth-frame__row:last-child {
  font-size: 17px;
  line-height: 23px;
  letter-spacing: none;
  color: none;
  font-weight: none;
}

.threeth-frame__row:last-child img:first-child {
  margin-left: 0;
}

.threeth-frame__row:last-child div {
  margin: 0 auto;
  padding: 0 15px;
}

.fourth-frame {
  margin-top: 136px;
}

.fourth-frame p {
  font-size: 10px;
  line-height: 34px;
  letter-spacing: 0.44px;
  color: #e8244f;
  font-weight: none;
  margin-bottom: 65px;
}

.fourth-frame__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fourth-frame__row img {
  width: 22%;
}

.fourth-frame__row:first-child {
  margin-bottom: 50px;
}

.fiveth-frame {
  margin-top: 115px;
  background-color: #000000;
  overflow: hidden;
}

.fiveth-frame__row {
  padding-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  color: #fff;
  margin-bottom: 100px;
}

.fiveth-frame__column:first-child a {
  color: #ffffff;
}

.fiveth-frame__column:first-child a:hover {
  color: #e8244f;
}

.fiveth-frame__column:first-child li:first-child a {
  color: #e8244f;
}

.fiveth-frame__column:last-child {
  margin-left: 233px;
}

.fiveth-frame__list {
  font-size: 15px;
  line-height: 28px;
  letter-spacing: none;
  color: none;
  font-weight: none;
}

.fiveth-frame__title {
  font-size: 58px;
  line-height: 70px;
  letter-spacing: none;
  color: none;
  font-weight: none;
}

.fiveth-frame__subtitle {
  margin-top: 50px;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: none;
  color: none;
  font-weight: none;
}

.fiveth-frame__link {
  margin-top: 22px;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: none;
  color: none;
  font-weight: none;
}

.fiveth-frame__link a {
  color: #fff;
}

.fiveth-frame__link a::after {
  content: '___________________';
  position: relative;
  top: 10px;
  left: -136px;
}

.fiveth-frame__link a:hover {
  color: #e8244f;
}

.fiveth-frame__text {
  margin-left: 16%;
  white-space: nowrap;
  padding-bottom: 93px;
  color: #ffffff;
  font-size: 114px;
  line-height: 148px;
  letter-spacing: none;
  color: #181818;
  font-weight: none;
}

.fiveth-frame__text span {
  color: #e8244f;
}

.sixth-frame {
  margin-top: 122px;
}

.sixth-frame__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

.sixth-frame__column img {
  width: 23.2%;
  margin-right: 2.4%;
}

.sixth-frame__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sixth-frame__row:not(:last-child) {
  margin-bottom: 32px;
}

.sixth-frame__row:first-child {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.sixth-frame__row:last-child img:last-child {
  margin-right: 0px;
}

.sixth-frame__text:first-child {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: none;
  color: none;
  font-weight: none;
  margin-right: auto;
}

.sixth-frame__title {
  font-size: 114px;
  line-height: 122px;
  letter-spacing: none;
  color: none;
  font-weight: none;
  margin-bottom: 37px;
}

.sixth-frame__subtitle {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: none;
  color: none;
  font-weight: none;
}

.seventh-frame {
  white-space: nowrap;
  overflow: hidden;
  margin: 130px auto 0 auto;
  font-size: 114px;
  line-height: 114px;
  letter-spacing: none;
  color: #888888;
  font-weight: none;
}

.seventh-frame p {
  margin-left: -10%;
}

.seventh-frame p:not(:last-child) {
  margin-bottom: 75px;
}

.seventh-frame span {
  margin: 0 60px;
  color: #000000;
}

.eighth-frame {
  margin-top: 190px;
}

.eighth-frame__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

.eighth-frame__column img {
  width: 568px;
  height: 758px;
}

.eighth-frame__column:first-child {
  margin-right: 11%;
}

.eighth-frame__text {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: none;
  color: none;
  font-weight: none;
  margin-top: 50px;
}

.eighth-frame__text:first-child {
  font-size: 46px;
  line-height: 57px;
  letter-spacing: none;
  color: none;
  font-weight: none;
  margin-bottom: 40px;
  margin-top: 100px;
}

.eighth-frame__signature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.eighth-frame__signature img {
  width: 240px;
  height: 136px;
}

.eighth-frame__signone, .eighth-frame__signsec {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: none;
  color: none;
  font-weight: none;
}

.footer {
  background-color: #000000;
  margin-top: 117px;
  padding-top: 100px;
}

.footer__pretitle {
  font-size: 10px;
  line-height: 34px;
  letter-spacing: 0.44px;
  color: #fff;
  font-weight: none;
  margin-bottom: 64px;
}

.footer__email a, .footer__phone a {
  font-size: 65px;
  line-height: 98px;
  letter-spacing: none;
  color: #fff;
  font-weight: none;
}

.footer__phone {
  margin-bottom: 145px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__row:last-child {
  margin-top: 230px;
  margin-bottom: 43px;
}

.footer__text {
  font-size: 20px;
  line-height: 33px;
  letter-spacing: none;
  color: #fff;
  font-weight: none;
}

.footer__link img {
  width: 60px;
  height: 60px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.footer__link img:last-child {
  margin-left: 45px;
}

.footer__link img:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright p {
  margin-right: 86px;
}

.footer__copyright a,
.footer__copyright p {
  font-size: 12px;
  line-height: 17px;
  letter-spacing: none;
  color: rgba(255, 255, 255, 0.4);
  font-weight: none;
}

.footer__design {
  font-size: 12px;
  line-height: 17px;
  letter-spacing: none;
  color: rgba(255, 255, 255, 0.4);
  font-weight: none;
}

.ninth-frame {
  padding: 2% 3%;
  white-space: nowrap;
  text-align: center;
}

.ninth-frame a {
  font-size: 46px;
  line-height: 59px;
  letter-spacing: none;
  color: #000;
  font-weight: none;
}

.ninth-frame a:hover {
  text-decoration: underline;
}
