//подключение шрифтов
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
//нулевой стиль
@import 'nulestyle.scss';
// mixin
@import 'mixin.scss';

.wrapper {
  min-height: 100%;
  @include flex(flex, column, none, none);
}
.content {
  flex: 1 1 auto;
}

.container {
  max-width: 68%;
  margin: 0 auto;
  @media (max-width: 1280px) {
    max-width: 78%;
  }
  @media (max-width: 1024px) {
    max-width: 88%;
  }
}

.header {
  background-color: #000000;
  padding: 20px 0;
  min-height: 5.7vh;
  &__row {
    img {
      width: 11%;
      @media (max-width: 767px) {
        width: 20%;
      }
    }
    @include flex(flex, none, space-between, center);
  }

  &__list {
    @include flex(flex, none, center, center);
    a {
      padding: 0 15px;
      @include font(12px, 12.14px, 1px, #ffffff, none);
      &:hover {
        text-shadow: 1px 1px #ffffff;
      }
    }
    li {
      &:not(:last-child) {
        margin-right: 34px;
      }
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  //
  .burger {
    display: none;
    width: 112px;
    padding-left: 3px;
    padding-top: 3px;
    @media (max-width: 767px) {
      display: inline-block;
      position: absolute;
      width: 150px;
      top: 1px;
      right: 15px;
      margin-top: 11px;
      z-index: 150;
    }

    // стили для линий
    &__first-line,
    &__second-line,
    &__threeth-line {
      width: 27%;
      // позиция бургера
      margin: 0 0 0 auto; //справа
      height: 1px;
      border: 0.5px solid #fff;
      background-color: #fff;
      transition: 0.5s;
      &:not(:last-child) {
        margin-bottom: 7px;
      }
    }

    &:hover {
      // стили первой линии при наведении
      .burger__first-line {
        transform: rotate(45deg);
        position: relative;
        top: 8.5px;
        border: 1px solid #fff;
        background-color: #fff;
        transition: 0.5s;
      }

      // стили третьей линии при наведении
      .burger__second-line {
        visibility: hidden;
        transition: 0.1ms;
      }

      // стили третьей линии при наведении
      .burger__threeth-line {
        transform: rotate(-45deg);
        position: relative;
        top: -8.5px;
        border: 1px solid #fff;
        background-color: #fff;
        transition: 0.5s;
      }
      // событие которое показывает меню при наведении/нажатии на бургер меню
      .burger__menu {
        visibility: visible;
        transition: 0.4s ease-in-out;
        position: absolute;
        right: 45px;
        opacity: 0.7;
      }
    }

    &__menu {
      visibility: hidden;
      position: absolute;
      top: -5px;
      right: 46px;
      opacity: 0;
      transition: 0.25s ease-in-out;
    }

    &__list {
      background-color: #fff;
      border-radius: 15%;
      text-align: center;
    }

    &__link {
      @include font(none, 14px, 0.1em, none, 700);
      padding-left: 10px;
      padding-top: 10px;
      padding-right: 10px;
      &:last-child {
        padding-bottom: 10px;
      }
      a {
        color: #353738;
        &:hover {
          color: #1340c5;
          text-decoration: underline;
        }
      }
    }
  }
  //
}

.first-frame {
  background-color: #000000;
  min-height: 94.3vh;
  img {
    display: block;
    width: 40%;
    margin: 0 auto;
    padding-top: 20%;
    @media (max-width: 1280px) {
      width: 45%;
    }
    @media (max-width: 1024px) {
      width: 50%;
    }
    @media (max-width: 640px) {
      padding-top: 30%;
    }
    @media (max-width: 480px) {
      padding-top: 40%;
    }

    @media (max-height: 640px) {
      padding-top: 20%;
    }
    @media (max-height: 600px) {
      padding-top: 10%;
    }
    @media (max-height: 480px) {
      padding-top: 7.5%;
      width: 30%;
    }
    @media (max-height: 360px) {
      padding-top: 5%;
      width: 25%;
    }
  }

  &__text {
    white-space: nowrap;
    width: 70%;
    margin: -30% auto 0 auto;
    @media (max-width: 1280px) {
      margin-top: -31%;
    }
    @media (max-width: 1024px) {
      margin-top: -32%;
    }
    @media (max-width: 767px) {
      margin-top: -33%;
    }
    @media (max-height: 480px) {
      margin-top: -20%;
    }

    p {
      &:first-child {
        padding-left: 5%;
        @include font(clamp(5px, 2vw, 11px), clamp(10px, 2vw, 15px), 0.2px, #999999, none);
      }
      &:nth-child(2),
      &:last-child {
        @include font(clamp(35px, 5vw, 100px), clamp(40px, 5vw, 125px), none, #ffffff, none);
      }
      &:last-child {
        text-align: right;
      }
    }
  }

  &__bottom-text {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 2%;
    width: 68%;
    margin: 0 auto;
    @include flex(flex, none, space-between, center);
    @media (max-width: 767px) {
      bottom: 0;
    }
    @media (max-width: 1280px) {
      width: 78%;
    }
    @media (max-width: 1024px) {
      width: 88%;
    }

    @media (max-width: 767px) {
      @include flex(flex, column, center, center);
      text-align: center;
    }
  }

  .text_l {
    @include font(clamp(12px, 2vw, 19px), clamp(20px, 2vw, 27px), none, #ffffff, none);
    padding-right: 15px;
    @media (max-width: 767px) {
      padding-right: 0;
    }
  }

  .text_r {
    padding-left: 15px;
    @media (max-width: 767px) {
      padding-top: 10px;
      padding-left: 0;
    }
    p {
      &:first-child {
        @include font(clamp(13px, 2vw, 20px), 22px, none, #ffffff, none);
      }
      &:last-child {
        @include font(11px, 16px, none, #ffffff66, none);
      }
    }
  }
}

.second-frame {
  p {
    padding-top: 80px;
    @media (max-width: 767px) {
      padding-top: 30px;
    }
    @include font(10px, 34px, 0.44px, #e8244f, none);
  }
  &__columns {
    margin-top: 20px;
  }

  &__row {
    @include flex(flex, none, space-between, center);
    @media (max-width: 767px) {
      @include flex(flex, column, center, center);
    }
    &:not(:last-child) {
      margin-bottom: 60px;
      @media (max-width: 767px) {
        margin-bottom: 30px;
      }
    }
    &:last-child {
      margin-bottom: 80px;
    }
    a {
      transition: all 0.25s ease-in-out;
      &:hover {
        transform: rotate(360deg) scale(1.3, 1.3);
        transition: all 0.35s ease-in-out;
      }
      @media (max-width: 767px) {
        position: absolute;
        align-self: flex-end;
      }
    }
    img {
      width: 43px;
    }
  }
}
.title {
  width: 36.5%;
  @media (max-width: 767px) {
    width: auto;
    align-self: flex-start;
  }
  @include font(clamp(16px, 3vw, 46px), clamp(25px, 3vw, 55px), none, none, none);
}
.subtitle {
  padding-right: 15px;
  @include font(clamp(12px, 1vw, 16px), clamp(19px, 1vw, 21px), none, none, none);
  margin: 0 auto 0 10%;
  @media (max-width: 1024px) {
    margin-left: 5%;
  }
  @media (max-width: 767px) {
    margin: 0;
    align-self: flex-start;
  }
}

.threeth-frame {
  &__columns {
    margin-top: 160px;
    @media (max-width: 767px) {
      margin-top: 50px;
    }
  }

  &__row {
    @include flex(flex, none, space-between, center);
    @media (max-width: 767px) {
      @include flex(flex, column, space-between, center);
    }
    &:not(:last-child) {
      margin-bottom: 45px;
      @media (max-width: 767px) {
        margin-bottom: 10px;
      }
    }

    img {
      width: 23.2%;
      margin-left: 2.4%;
      @media (max-width: 767px) {
        width: 70%;
      }
    }

    &:first-child {
      @include font(clamp(35px, 7vw, 114px), clamp(43px, 7vw, 122px), none, none, none);
      @media (max-width: 767px) {
        text-align: center;
        p {
          &:last-child {
            margin-bottom: 20px;
          }
        }
      }
    }

    &:nth-child(2) {
      @include font(clamp(16px, 1vw, 18px), clamp(17px, 2vw, 23px), none, none, none);

      @media (max-width: 767px) {
        p {
          text-align: center;
          &:first-child {
            margin-top: 20px;
          }
          &:last-child {
            margin-bottom: 20px;
          }
        }
        img {
          width: 70%;
          &:last-child {
            margin-top: 10px;
          }
        }
      }
    }

    &:nth-child(3) {
      img {
        &:first-child {
          margin-left: auto;
          @media (max-width: 767px) {
            margin-left: 2.4%;
            margin-bottom: 10px;
          }
        }
        @media (max-width: 767px) {
          width: 70%;
        }
      }
      @media (max-width: 767px) {
        position: relative;
      }
    }
    &:last-child {
      @include font(clamp(11px, 1vw, 17px), clamp(17px, 2vw, 23px), none, none, none);

      img {
        &:first-child {
          margin-left: 0;
          @media (max-width: 767px) {
            margin-left: 2.4%;
            margin-bottom: 10px;
          }
        }
      }
      div {
        margin: 0 auto;
        padding: 0 15px;
        @media (max-width: 767px) {
          padding: 0;
          text-align: center;
          margin-top: 10px;
        }
      }
    }
  }
}

.fourth-frame {
  margin-top: 136px;
  @media (max-width: 767px) {
    margin-top: 50px;
  }
  p {
    @include font(10px, 34px, 0.44px, #e8244f, none);
    margin-bottom: 65px;
    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
  &__column {
    @include flex(flex, column, center, center);
  }
  &__row {
    @include flex(flex, row, center, center);
    img {
      width: 22%;
    }
    @media (max-width: 767px) {
      @include flex(flex, column, center, center);
      img {
        width: 30%;
        &:first-child {
          align-self: flex-start;
        }
        &:nth-child(2) {
          margin-right: 40%;
        }
        &:nth-child(4) {
          margin-left: 40%;
        }
        &:nth-child(5) {
          align-self: flex-end;
        }
      }
    }
    &:first-child {
      margin-bottom: 50px;
      @media (max-width: 767px) {
        margin-bottom: -75px;
      }
    }
  }
}

.fiveth-frame {
  margin-top: 115px;
  @media (max-width: 767px) {
    margin-top: 50px;
  }
  background-color: #000000;
  overflow: hidden;

  &__row {
    padding-top: 160px;
    @include flex(flex, row, none, none);
    color: #fff;
    margin-bottom: 100px;
    @media (max-width: 767px) {
      padding-top: 50px;
      @include flex(flex, column-reverse, none, none);
    }
  }

  &__column {
    &:first-child {
      a {
        color: #ffffff;
        &:hover {
          color: #e8244f;
        }
      }
      li {
        &:first-child {
          a {
            color: #e8244f;
          }
        }
      }
    }
    &:last-child {
      margin-left: 20%;
      @media (max-width: 767px) {
        margin-left: 0;
      }
    }
    &:first-child {
      @media (max-width: 767px) {
        margin-top: 10px;
      }
    }
  }

  &__list {
    @include font(15px, 28px, none, none, none);
    white-space: nowrap;
  }

  &__title {
    white-space: nowrap;
    @include font(clamp(30px, 3vw, 58px), clamp(42px, 3vw, 70px), none, none, none);
  }

  &__subtitle {
    white-space: nowrap;
    margin-top: 50px;
    @include font(clamp(12px, 2vw, 20px), clamp(18px, 2vw, 26px), none, none, none);
  }

  &__link {
    white-space: nowrap;
    margin-top: 22px;
    @include font(clamp(12px, 1vw, 16px), clamp(17px, 2vw, 21px), none, none, none);
    @media (max-width: 767px) {
      text-align: center;
    }
    a {
      color: #fff;
      &::after {
        content: '___________________';
        position: relative;
        top: 1em;
        left: -8.5em;
      }
      @media (max-width: 767px) {
        margin-left: 8.4em;
      }
      &:hover {
        color: #e8244f;
      }
    }
  }

  &__list,
  &__title,
  &__subtitle {
    @media (max-width: 767px) {
      text-align: center;
    }
  }
  &__text {
    margin-left: 16%;
    white-space: nowrap;
    padding-bottom: 93px;
    color: #ffffff;
    @include font(clamp(50px, 7vw, 114px), clamp(84px, 7vw, 148px), none, #181818, none);
    span {
      color: #e8244f;
    }
    @media (max-width: 767px) {
      margin-left: 10%;
      white-space: normal;
      padding-bottom: 40px;
    }
  }
}

.sixth-frame {
  margin-top: 122px;
  @media (max-width: 767px) {
    margin-top: 40px;
  }
  &__column {
    @include flex(flex, column, space-between, none);
    img {
      width: 23.2%;
      @media (max-width: 767px) {
        width: 70%;
      }
      margin-right: 2.4%;
    }
  }

  &__row {
    @include flex(flex, none, space-between, center);
    @media (max-width: 767px) {
      @include flex(flex, column, space-between, center);
      text-align: center;
    }
    &:not(:last-child) {
      margin-bottom: 32px;
      @media (max-width: 767px) {
        margin-bottom: 20px;
      }
    }
    &:first-child {
      justify-content: flex-start;
      @media (max-width: 767px) {
        flex-direction: column-reverse;
      }
    }
    &:nth-child(2) {
      @media (max-width: 767px) {
        img {
          &:not(:last-child) {
            margin-bottom: 15px;
          }
        }
      }
    }
    &:last-child {
      img {
        &:last-child {
          margin-right: 0px;
          @media (max-width: 767px) {
            margin-top: 15px;
            margin-right: 2.4%;
          }
        }
      }
    }
  }

  &__text {
    &:first-child {
      @include font(clamp(12px, 2vw, 20px), clamp(18px, 2vw, 26px), none, none, none);
      margin-right: auto;
      @media (max-width: 767px) {
        margin: 0 auto 15px auto;
      }
    }
  }

  &__title {
    @include font(clamp(70px, 7vw, 114px), clamp(78, 7vw, 122px), none, none, none);
    margin-bottom: 37px;
  }

  &__subtitle {
    @include font(clamp(12px, 2vw, 20px), clamp(18px, 2vw, 26px), none, none, none);
    @media (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
}

.seventh-frame {
  white-space: nowrap;
  overflow: hidden;

  margin: 130px auto 0 auto;
  @media (max-width: 767px) {
    margin-top: 60px;
  }
  @include font(clamp(70px, 7vw, 114px), clamp(70px, 7vw, 114px), none, #888888, none);
  p {
    margin-left: -10%;
    @media (max-width: 767px) {
      margin-left: -15%;
    }
    &:not(:last-child) {
      margin-bottom: 75px;
      @media (max-width: 767px) {
        margin-bottom: 20px;
      }
    }
  }
  span {
    margin: 0 60px;
    @media (max-width: 767px) {
      margin: 0 15px;
    }
    color: #000000;
  }
}

.eighth-frame {
  margin-top: 190px;
  @media (max-width: 767px) {
    margin-top: 60px;
  }
  &__row {
    @include flex(flex, row, center, none);
    @media (max-width: 767px) {
      @include flex(flex, column, center, none);
    }
  }

  &__column {
    img {
      width: 100%;
    }
    &:first-child {
      margin-right: 11%;
      @media (max-width: 767px) {
        margin: 0 0 20px 0;
      }
    }
  }

  &__text {
    @include font(clamp(12px, 2vw, 20px), clamp(17px, 2vw, 25px), none, none, none);
    margin-top: 50px;
    &:first-child {
      @include font(clamp(16px, 3vw, 46px), clamp(27px, 3vw, 57px), none, none, none);
      margin-bottom: 40px;
      margin-top: 100px;
      @media (max-width: 767px) {
        margin: 20px 0;
      }
    }
  }

  &__signature {
    @include flex(flex, row, space-between, center);
    img {
      width: 100%;
    }
  }

  &__signone,
  &__signsec {
    @include font(clamp(12px, 1vw, 16px), clamp(19px, 1vw, 21px), none, none, none);
    @media (max-width: 767px) {
      text-align: center;
    }
  }
}

.footer {
  background-color: #000000;
  margin-top: 117px;
  padding-top: 100px;
  @media (max-width: 767px) {
    margin-top: 60px;
    padding-top: 40px;
  }
  &__pretitle {
    @include font(10px, 34px, 0.44px, #fff, none);
    margin-bottom: 64px;
    @media (max-width: 767px) {
      margin-bottom: 50px;
    }
  }

  &__email,
  &__phone {
    a {
      @include font(clamp(40px, 4vw, 65px), clamp(73px, 5vw, 98px), none, #fff, none);
    }
  }

  &__phone {
    margin-bottom: 145px;
    @media (max-width: 767px) {
      margin-bottom: 50px;
    }
  }

  &__row {
    @include flex(flex, row, space-between, center);
    &:last-child {
      margin-top: 230px;
      margin-bottom: 43px;
      @media (max-width: 767px) {
        @include flex(flex, column, space-between, center);
        margin-top: 50px;
        margin-bottom: 40px;
      }
    }
  }

  &__text {
    @include font(clamp(13px, 2vw, 20px), clamp(26px, 3vw, 33px), none, #fff, none);
  }

  &__link {
    img {
      width: 60px;
      height: 60px;
      transition: all 0.25s ease-in-out;
      &:last-child {
        margin-left: 45px;
      }
      &:hover {
        transform: scale(1.2, 1.2);
        transition: all 0.4s ease-in-out;
      }
    }
    @media (max-width: 767px) {
      a {
        &:first-child {
          display: block;
          margin-bottom: 10px;
        }
      }
      img {
        width: 40px;
        height: 40px;
      }
    }
  }

  &__copyright {
    @include flex(flex, row, none, center);
    p {
      margin-right: 86px;
    }
    a,
    p {
      @include font(12px, 17px, none, rgba(255, 255, 255, 0.4), none);
    }
    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  &__design {
    @include font(12px, 17px, none, rgba(255, 255, 255, 0.4), none);
  }
}

.ninth-frame {
  padding: 2% 3%;
  white-space: nowrap;

  a {
    @include font(clamp(16px, 3vw, 46px), clamp(29px, 3vw, 59px), none, #000, none);
    &:hover {
      text-decoration: underline;
    }
  }
  text-align: center;
}
